{% extends "base.html" %}
{% load static %}
{% block extra_title %}Lotus | About Us{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-3 px-5 flex-md-row-reverse px-5 px-md-0">
        <div class="col-12 col-md-6 pt-3 pt-md-5">
            <h1 class="logo-font pt-md-5 pl-2 px-md-5">
                About Us
            </h1>
            <h2 class="px-2 px-md-5 pt-2 pt-md-5 cheerup">Lotus offers a diverse range of <strong>adult toys</strong> that are available in
                various shapes, sizes, and colors. Our products represent
                the values of liberation, playfulness, and passionate expression of <strong>sexuality</strong>  for people of all genders,
                orientations, and <strong>sexual preferences</strong> . Whether you are <strong>enjoying</strong>  them alone or with a partner in bed, a
                bathtub,
                or even a car, our goal is to help you feel great, share laughter, and experience <strong>pleasure</strong>  in a fun
                way! Our <strong>sex toys</strong>  are designed with quality craftsmanship, care and attention. Our company exclusively
                employs medical-grade and <strong>hypoallergenic silicone</strong> , as well as body-safe dyes. Be free to experience ture and sensual <strong>masturbation</strong>.</h2>
            <div class="px-2 px-md-5 pt-3 pt-md-5 pb-4">
                <a href="{% url 'home' %}" class="btn d-block d-lg-inline">Back Home</a>

            </div>
        </div>
        <div class="col-12 col-md-6 feedback-image-container" role="img" aria-label="woman holding a sex-toyin a bath">
        </div>
    </div>
</div>
<div class="container my-5 text-center pb-5">
    <h1>Lotus opens the secret garden of your pleasure. Click and discover our orgasmic selection of stimulating
        vibrators</h1>
    <br>
    <p>We have a wide range of <strong>high quality sex toys</strong> which will surrender you to endlessly orgasms.</p>
    <p>We support sex positivity and encourage our clientèle to <strong>explore the satisfaction of stimulating the
            G-spot</strong> and embrace the <strong>masturbation</strong> as an primordial need.</p>
</div>
{% endblock %}