{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="title_page py-3">Shopping Bag</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p class="lead mb-5">Your bag is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script>
    // update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form')
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-btn').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('class').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}