{% load static %}
<footer class="container-fluid">
    <div class="row py-lg-3 px-lg-3">
        
        <div class="col-12 col-md-4 p-4">
            <h2 class="mb-4">Get our tips!</h2>
            <!--  Mailchimp Signup Form -->
                
        </div>
        <div class="col-12 col-md-4 px-4 px-md-0 py-4">
            <ul class="nav flex-column px-4">
                <li class="nav-item ">
                    <a href="{% url 'products' %}" class="nav-link text-uppercase text-color">Products</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'reviews' %}" class="nav-link text-uppercase text-color">Reviews</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'faqs' %}" class="nav-link text-uppercase text-color">FAQs</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'contact' %}" class="nav-link text-uppercase text-color">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a href=""
                        target="_blank" class="nav-link text-uppercase text-color">Privacy Policy</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-4 p-4">
            <div>
                <h2 class="mb-4">Stay in touch!</h2>
                <ul class="list-unstyled list-inline social-networks">
                    <li class="list-inline-item">
                        <a href="" target="_blank" rel="noopener"
                            aria-label="Visit our Facebook page (opens in new tab)"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" target="_blank" rel="noopener"
                            aria-label="Visit our Instagram page (opens in new tab)"><i
                                class="fab fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" target="_blank" rel="noopener"
                            aria-label="Visit our Youtube page (opens in new tab)"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                    
                </ul>
            </div>
            
        </div>
    </div>
</footer>