<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Product
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="{% url 'products' %}" class="dropdown-item">All</a>
                <a href="{% url 'products' %}?category=clitoral_vibrator" class="dropdown-item ">Clitoral Vibrator</a>
                <a href="{% url 'products' %}?category=g_spot_vibrator" class="dropdown-item">G-spot Vibrator</a>
                <a href="{% url 'products' %}?category=rabbit_vibrator" class="dropdown-item">Rabbit Vibrator</a>
                <a href="{% url 'products' %}?category=wearable_vibrator" class="dropdown-item">Wearable Vibrator</a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5" href="#">
                About Us
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5" href="#">
                Reviews
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'contact' %}">
                Contact Us
            </a>
        </li>
    </ul>

</div>