<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Product
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="{% url 'products' %}" class="dropdown-item">All</a>
                <a href="" class="dropdown-item ">Rabitt</a>
                <a href="" class="dropdown-item">Clit</a>
                <a href="" class="dropdown-item">Wand</a>
                <a href="" class="dropdown-item">Wearable</a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black mr-5" href="#">
                About Us
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black mr-5" href="#">
                Reviews
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black mr-5" href="#">
                Contact Us
            </a>
        </li>
    </ul>

</div>