{% extends 'base.html'%}
{% load static %}
{% block extra_title %}Lotus | Page 500{% endblock %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- Warning box -->
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6 mt-5 text-center">
            <h1>500 error</h1>
            <hr>
            <h3 class="mt-3"> Server Error</h3>
            <br>
            <p>Due to an internal error we are unable to process this request.</p>
            <a href="{% url 'account_logout' %}" class="btn btn-outline-dark d-inline m-2">Log out</a>
            <a href="{% url 'home' %}" class="btn btn-outline-dark d-inline m-2">Home</a>
        </div>
    </div>
</div>

{% endblock %}