{% extends "base.html" %}
{% load static %}
{% block extra_title %}Lotus | Enquiry received{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-3 flex-md-row-reverse px-5 px-md-0">
        <div class="col-12 col-md-6 pt-3 pt-md-5">
            <h1 class="logo-font pt-md-5 pl-2 px-md-5">
            Thany you for your message!
            </h1>
            <h2 class="px-2 px-md-5 pt-2 pt-md-5 cheerup">We will get back to you as soon as we can. Meanwhile, we invite you to consult our FAQs. It might help.</h2>
            <div class="px-2 px-md-5 pt-3 pt-md-5 pb-4">
                    <a href="{% url 'faqs' %}" class="btn d-block d-lg-inline">FAQs</a>
            
            </div>
        </div>
        <div class="col-12 col-md-6 feedback-image-container d-none d-md-flex" role="img" aria-label="woman holding a sex-toy">
        </div>
    </div>
</div>
<div class="container my-5 text-center pb-5">
    <h1>Lotus opens the secret garden of your pleasure. Click and discover our orgasmic selection of stimulating
        vibrators</h1>
    <br>
    <p>We have a wide range of <strong>high quality sex toys</strong> which will surrender you to endlessly orgasms.</p>
    <p>We support sex positivity and encourage our clientèle to <strong>explore the satisfaction of stimulating the
            G-spot</strong> and embrace the <strong>masturbation</strong> as an essential need.</p>
</div>
{% endblock %}